<div class="last_message_views" align="right" id="actively_typing">
  <span id="actively_typing_member_text"><%= link_to member.user.name, member.user,
    class: :small_dark_link %> is typing... <i class="fa fa-keyboard-o"></i></span>
</div>
