<div class="card">
  <%= render "app/time_ago", item: message %>
  <div align="center">
    <% if message.image.url %>
      <%= image_tag message.image, class: :standard_image %>
    <% end %>
    <% if message.body.present? %>
      <p>
        <%= render "app/body", item: message %>
      </p>
    <% end %>
  </div>
</div>
