<script>
  <%= render "messages/check_messages.js" %>
</script>

<% if @group %>
  <%= render "groups/card", group: @group %>
<% end %>

<% if group_auth @group or group_member_auth @group %>
  <% for message in @messages %>
	  <%= render "messages/bubble", message: message %>
  <% end %>

  <div id="instant_messages_anchor"></div>

  <div id="message_form_anchor"></div>

  <%= render "messages/form" %>
<% else %>
  <div class="card">
    <p align="center">
      You aren't a member of the group yet.
    </p>
  </div>
<% end %>
