<script>
  <%= render "app/fader.js", target: "invited_message_header", target_id: "" %>
  <%= render "app/fader.js", target: "invited_message_text", target_id: "" %>
  <%= render "app/fader.js", target: "invited_message_link", target_id: "" %>
</script>

<div class="dark_card" id="invited_message_card">
  <div align="center">
    <h2 id="invited_message_header">Social Maya ॐ</h2>
    <p class="justified_body_text" id="invited_message_text">
      You've been invited to Social Maya, an exclusive social network. Feel free to <%= link_to "browse or post to the site anonymously", root_url, id: :invited_message_link %> from this browser or sign up below with a nickname to ensure continued access from all other devices or browsers.
    </p>
  </div>
</div>
