<h2 class="standard_page_header">Followers <i class="fa fa-users"></i></h2>

<% for user in @followers %>
  <%= render "users/card", user: user %>
<% end %>

<% if @followers.empty? %>
  <div class="card">
    <p align="center">
      <% if current_user and current_user.eql? @user %>
        You don't have any followers yet.
      <% else %>
        This user doesn't have any followers yet.
      <% end %>
    </p>
  </div>
<% end %>
