<h2 class="standard_page_header">Following <i class="fa fa-users"></i></h2>

<% for user in @following %>
  <%= render "users/card", user: user %>
<% end %>

<% if @following.empty? %>
  <div class="card">
    <p align="center">
      This user isn't currently following anyone.
    </p>
  </div>
<% end %>
