<h2 class="standard_page_header">Members <i class="fa fa-users"></i></h2>

<%= render "groups/card", group: @group %>

<%= render "users/card", user: @group.creator, token: @group.creator, group_creator: true if @group.creator %>

<% for member in @members %>
  <%= render "connections/card", connection: member %>
<% end %>

<% if @members.empty? %>
  <div class="card">
    <div align="center">
      There aren't any other members yet.
    </div>
  </div>
<% end %>
