<div class="note_dialog" id="note_dialog" align="center" hidden>
  <div class="note_dialog_text">
    <% if note.is_a? Note %>
      <%= note.message %>
    <% else %>
      <%= note %>
    <% end %>
  </div>
</div>
