<% notes_icon = if currently_unseen_notes.present? %>
  <% '<i class="fa fa-bell fa-lg"></i>' %>
<% else %>
  <% '<i class="fa fa-bell-o fa-lg"></i>' %>
<% end %>

<%= link_to notes_dropdown_path, remote: true,
  id: :notes_nav_link, class: "notes_nav_link toggle_notes_dropdown dark_link",
  title: "Unseen notifications: #{currently_unseen_notes.size}" do %>
  <span id="notifications_link_icon"><%= notes_icon.html_safe %></span>
<% end %>

<%= render "notes/dropdown", notes: current_notes.last(5).reverse %>
<%= render "app/link_sound.js", link_id: :notes_nav_link, sound: :nav_menu_sound %>
