<div id="notes_dropdown" hidden>
  <div class="notes_dropdown_title">
    <b>Notifications</b>
  </div>
  <% for note in notes %>
    <div class="standard_nav_menu_link">
      <%= render "notes/message", note: note, dark: true, dropdown: true %>
    </div>
  <% end %>
  <div class="notes_dropdown_link standard_nav_menu_link">
    <%= link_to "See all#{' (' + (currently_unseen_notes.size - notes.size).to_s + ' more unseen)' \
      if currently_unseen_notes.size > notes.size}", notes_path, class: :dark_link %>
  </div>
  </br>
</div>
