<div class="notes_slide_menu_container">
  <%= link_to notes_dropdown_path, remote: true, class: :notes_slide_menu_toggle_link do %>
    <%= render 'notes/link_icon' %>
  <% end %>

  <%= render "notes/slide_dropdown", notes: current_notes.last(5).reverse unless @notes %>
</div>

<script>
  function notes_dropdown_side_on_out() {
    var slide_menu = $(".notes_slide_menu_container");
    var toggle_link = $(".notes_slide_menu_toggle_link");
    var link_icon = $("#notes_slide_icon");
    var dropdown = $("#notes_dropdown");

    // fix for nav_links
    var toggle = false;

    toggle_link.click(function(){
      toggle = !toggle;

      slide_menu.toggleClass("slide_menu_open");
      toggle_link.toggleClass("notes_icon_spins");
      if (dropdown.is(':hidden')) {
        setTimeout(toggle_dropdown, 400);
      } else {
        dropdown.fadeOut();
      }
      window.navigator.vibrate(1);
    });
    function toggle_dropdown() {
      if (toggle) {
        dropdown.fadeIn();
        var link_icon = $("#notes_slide_icon");
        link_icon.toggleClass("plus_fade");
      }
    }
  }
  notes_dropdown_side_on_out();
</script>
