<div class="card">
  <%= render "users/avatar_card_link", user: comment.user, token: comment.anon_token %>
  
  <div align="center">
    <p>
      <%= comment.body %>
    </p>
  </div>
  <%= render "app/time_ago", item: comment %>
</div>
