<div id="mini_<%= @item.class.to_s.downcase %>_comments_container_<%= @item.id %>">
  <% for comment in @comments %>
    <%= render "comments/mini_card", comment: comment %>
  <% end %>

  <%= render "comments/mini_form" %>
</div>
