<div class="card">
  <%= render "search/form" %>
</div>

<% unless @results.empty? %>
  <div class="card">
    <div align="center">
      Search found <% @result_types.each do |type, count| %>
        <%= "#{count} #{type.to_s}#{'s' if count > 1}#{', ' unless type.eql? :comment}" unless count.zero? %>
      <% end %>
    </div>
  </div>
<% end %>

<% for item in @results %>
	<% if item.present? and item.class.present? %>
		<% _class = item.class.to_s.downcase %>
		<%= render "#{_class.pluralize}/card", _class.to_sym => item %>
	<% end %>
<% end %>

<% if @results.empty? and @query.present? %>
	<div class="card">
		<p align="center">
			There aren't any items associated with this search.
		</p>
	</div>
<% end %>


