<% if current_user %>
  <%= form_tag on_point_update_path(@item.unique_token), method: :put, class: "ui form", id: :edit_form do %>
    <%= hidden_field_tag :on_point, true %>

    <div class="field">
      <label>Text</label>
      <%= text_area_tag :body, @item.body, placeholder: "Text" %>
    </div>

    <button class="ui button" type="submit">Save</button>

  <% end %>
  <script>
    $(document).ready(function() {
      setTimeout(scroll_to_form, 500);
    });
    function scroll_to_form() {
      var edit_form = $("#edit_form");
      $('html, body').animate({
        scrollTop: ($(edit_form).offset().top - 55)
      }, 500);
    }
  </script>
<% end %>
