</br>
<div class="dark_card" id="lil_c_header_card">
  <h2 class="standard_page_header" id="lil_c_header">Join Lil' C. Corleone's Team For Free Stuff</h2>
</div>

<div align="center" class="lil_c_main_container">
  <%= render "templates/lil_c_sign_up_form" %>
  <%= image_tag "clients/lil_c.jpg", class: :lil_c_img %>
</div>
