</br>
<div class="dark_card" id="lil_c_header_card">
  <h2 class="standard_page_header" id="lil_c_header">Join Lil' C. Corleone's Team For Free Stuff</h2>
</div>

<%= render "templates/image_bordered_form" %>
