<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">We Help Companies and Companions</h3>
        <p>For the members of Boston Ballet II, Thursday mornings are a special treat. At 9 am, well before the company arrives, they begin their own class with BBII associate director Peter Stark.</p>
        <h3 class="ui header">A Dance Studio, Quality Lessons</h3>
        <p>What do you do when you finally have some time off after a busy season? Well, if you're the dancers of New York City Ballet, you find new ways to dance.</p>
      </div>
      <div class="six wide right floated column">
        <%= image_tag "on_point/dance.png", class: "ui large rounded image" %>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button">Check Them Out</a>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>"What a Company"</h3>
        <p>That is what they all say about us</p>
      </div>
      <div class="column">
        <h3>"I shouldn't have gone with their competitor."</h3>
        <p>
          <img src="https://semantic-ui.com/examples/assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
    <p>Planning to spend the majority of your summer sweating it out in the studio? Don't worry, you're not alone. And while you're definitely going to want to save the warmups for the winter, you can still accessorize your studio look without adding bulk.</p>
    <a class="ui large button">Read More</a>
    <h4 class="ui horizontal header divider">
      <a href="#">Case Studies</a>
    </h4>
    <h3 class="ui header">Wonder What's Going On In Ballet This Week?</h3>
    <p>Boylston has created two programs composed of pas de deux and solo pieces from choreographers including George Balanchine, Jerome Robbins, and William Forsythe.</p>
    <a class="ui large button">I'm Still Quite Interested</a>
  </div>
</div>
