<!-- https://www.sharefile.com/pricing?aid=208144752149&src=google&kw=sharefile%20pricing&gclid=CjwKCAjwy_XaBRAWEiwApfjKHh6S343NI5zLTy7NpDuiH9jgeMi9ukDnMenV8iRsdFr5Vds_MZPngRoC2a8QAvD_BwE-->
<div class="ui vertical stripe segment">
  <div class="row" align="center">
	<h1 class="masthead ui header blue centered">
		Plans and Pricing
	</h1>
	  <div class="box_container centered">
		<div class="box_stuff"></div>
		<div class="box_stuff"></div>
		<div class="box_stuff"></div>
		<div class="box_stuff"></div>
      </div>
  </div>
  <div class="ui middle aligned stackable grid container">
    <div class="row" >

    </div>
  </div> 
</div>
