<% @items.each do |item| %>
  <%= render "#{item.class.to_s.downcase.pluralize}/card", item.class.to_s.downcase.to_sym => item %>
<% end %>

<% unless @items.size < page_size %>
	<div id="more_content_anchor"></div>
<% end %>
