<%= render 'form' %>

<div class="card">
  <div align="center">
    <%= link_to 'Delete', @group, method: :delete, data: { :confirm => 'Are you sure?' } %>
    <%= " | " %>
    <%= link_to 'Back', @group %>
  </div>
</div>
