<%= render 'form' %>

<div class="dark_card" align="center">
	<p>
		<%= link_to "Click to get back to viewing the group...", show_group_path(@group.unique_token), class: :dark_link %>
	</p>

  <%= link_to 'Click to delete group...', @group, method: :delete, class: :dark_red_link,
    data: { :confirm => 'Are you sure you want to permanently delete this group and all of it\'s content?' } %>
</div>
