<% @groups = my_groups %>

<%= render "groups/form" %>

<% @groups.each do |group| %>
  <%= render "groups/card", group: group %>
<% end %>

<% if @groups.empty? %>
  <div class="card">
    <p align="center">
      There aren't any groups yet.
    </p>
  </div>
<% end %>
