<div class="card">
  <%= render "users/avatar_card_link", token: anon_token %>
  <div align="center" class="vertical_padding">
    <%= link_to "Groups with #{anon_token}", search_path(query: anon_token) %>
  </div>
</div>

<% for group in @groups %>
  <%= render "groups/anrcho_card", group: group %>
<% end %>

<% if @groups.empty? %>
  <div class="card">
    <p align="center">
      You haven't visited any groups lately.
    </p>
  </div>
<% end %>


