<%= render "groups/card", group: @group %>

<% if group_auth @group and @group.requests.present? %>
  <div class="card">
    <div align="center">
      <%= link_to "There are requests pending.", requests_path(@group) %>
    </div>
  </div>
<% end %>

<% if group_auth @group or group_member_auth @group %>
  <%= render "posts/form" %>
  <% for post in @items %>
    <%= render "posts/card", post: post %>
  <% end %>
<% end %>

<% if @items.empty? %>
  <div class="card">
    <p align="center">
      There aren't any posts yet.
    </p>
  </div>
<% end %>
