<div class="dark_card">
  <%= form_for @user, url: update_password_path(@user), method: :put do |f| %>
	  <div align="center">
      <%= f.password_field :password, placeholder: "New password", class: :dark_text_field %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm new password", class: :dark_text_field %>
	    
	    <p>
		    <%= f.submit "Update password", class: "dark_form_button" %>
	    </p>
	  </div>
  <% end %>
</div>
