<% if item.user and item.user.image %>
  <div class="<%= defined?(position) ? position.to_s : 'left_mini_avatar' %>">
    <%= link_to show_user_path(item.user.unique_token),
      title: "#{item.user.name}" + (last_locale(item.user).present? ? ", #{last_locale item.user}" : "") do %>
      <%= image_tag profile_picture(item.user), class: :user_avatar_image %>
    <% end %>
  </div>
<% elsif item.anon_token %>
  <%= render "users/anon_avatar", token: item.anon_token,
    position: (defined?(position) ? position.to_s : 'left_mini_avatar') %>
<% end %>
