<% progress = (user.level[:progress] * 100).to_i %>

<div class="card">
  <div class="progress_bar_label">
    <%= "#{user.level[:xp_left]} XP until Level #{user.level[:lvl]+1}" %>:
  </div>
  <div class="progress_bar">
    <div class="progress_bar_progress" style="width: <%= progress %>%;">
      <%= "#{progress}%" %>
    </div>
  </div>
</div>
