<% unless current_user %>
  <%= render "connections/invited_message" %>
  <%= render 'form' %>
<% else %>
  <div class="card">
    <p align="center">
      You've already signed up.
    </p>
  </div>
<% end %>
