<div class="card">
  <div align="center">
    <h2>Welcome to Simplr</h2>
    <p class="justified_body_text">
      You've been invited to join Simplr, a minimalistic social network. To use this website in other browsers or on other devices, you can sign up now and ensure continued access to all it's features. However, signing up is not necessary to continue using the site, at least from the browser you're currently using. Anonymous users can still post, comment, and use various other features.
    </p>
  </div>
</div>

<%= render 'form' %>
