<% if params[:already_redeemed] %>
  <div class="card">
    <p align="center">
      Invitation already redeemed.
    </p>
  </div>
<% end %>

<% unless current_user %>
  <%= render "connections/invited_message" %>
  <%= render 'form' %>
  <%= render "posts/main_feed_container" %>
<% else %>
  <div class="card">
    <p align="center">
      You've already signed up.
    </p>
  </div>
<% end %>
