<%= render "users/profile_card", user: @user %>

<%= render "users/my_groups_card", user: @user if @user.my_groups.size > 3 %>

<% if this_user_current? %>
  <%= render "posts/form" %>
<% end %>

<% for post in @posts %>
  <%= render "posts/card", post: post %>
<% end %>

<% if @posts.empty? %>
  <div class="card">
    <p align="center">
      You haven't posted anything yet.
    </p>
  </div>
<% end %>
