<%= render "users/profile_card", user: @user %>

<% if this_user_current? %>
  <%= render "posts/form" %>
<% end %>

<% for post in @posts %>
  <%= render "posts/card", post: post %>
<% end %>

<% if @posts.empty? %>
  <div class="card">
    <p align="center">
      <% if @user.eql? current_user %>
        You haven't posted anything yet.
      <% else %>
        <%= @user.name + " hasn't posted anything yet." %>
      <% end %>
    </p>
  </div>
<% end %>
