<%= form_tag update_settings_path, method: :put do %>
  <div align="center">
    <% Setting.names.each do |category, names| %>
      <% for name in names %>
        <p>
          <%= name + ": " %>
          <%= check_box_tag name.to_sym, nil, settings[name.to_sym] if category.eql? :on %>
          <% if category.eql? :state %>
            <% colors = color_options; colors[0][0] = "Set to #{settings[name.to_sym]}" \
              if settings[name.to_sym].present? %>
            <%= select_tag name.to_sym, options_for_select(colors) %>
          <% end %>
        </p>
      <% end %>
    <% end %>
    <p>
      <button type="submit" name="commit" class="standard_form_button">
        <b>Save <i class="fa fa-cog"></i></b>
      </button>
    </p>
  </div>
<% end %>
