<%= form_tag update_settings_path, method: :put do %>
  <div align="center">
    <% for name in Setting.names[:on] %>
      <p>
        <%= name + " " %>
        <%= check_box_tag name.to_sym, nil, settings[name.to_sym] %>
      </p>
    <% end %>

    <p>
      <button type="submit" name="commit" class="standard_form_button">
        <b>Save <i class="fa fa-cog"></i></b>
      </button>
    </p>
  </div>
<% end %>
