<% if all_items.present? and all_items.size > page_size %>
  <div align="center" id="buffer_wheel">
	  <script>
		  <%= render "pages/glimmer.js" %>
	  </script>
    
    <div class="buffer_wheel_grid_containor">
      <%= link_to show_treasure_path(Treasure.random(current_user).unique_token) do %>
        <% 16.times do |num| %>
          <% rgb = random_color %>
          <div class="buffer_pixel" id="loading_grid_pixel_<%= num %>"
	          style="background:rgb(<%= "#{rgb[0]}, #{rgb[1]}, #{rgb[2]}" %>);"></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div id="footer_spacing"></div>
