<% if all_items.present? and all_items.size > page_size or @sandbox or @invite_only_page %>
  <div align="center" id="buffer_wheel">
	  <script>
		  <%= render "pages/glimmer.js" %>
	  </script>
    
    <div class="buffer_wheel_grid_containor">
      <%= link_to show_treasure_path(Treasure.random(current_user).unique_token) do %>
        <% 16.times do |num| %>
          <% rgb = random_color %>
          <div class="buffer_pixel" id="loading_grid_pixel_<%= num %>"
	          style="background:black;"></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= audio_tag "interface/interface_9.mp3", id: "more_content_sound" %>

<div id="footer_spacing"></div>
