<div class="load_band_containor" id="load_wheel">
  <% 50.times do |num| %>
    <% id_append = num.to_s %>
    <div class="load_band_section" id="load_band_section_<%= id_append %>"
      style="background:black;"></div>
  <% end %>
</div>

<script>
  <%= render "pages/load_band_fader.js" %>
</script>
