<div class="load_band_container">
  <% 16.times do |num| %>
    <div class="load_band_section" id="load_band_section_<%= num %>"></div>
  <% end %>
</div>

<script>
  <%= render "pages/load_band_fader.js" %>
</script>
