<!-- pages -->

<script>
  <%= render "pages/toggle_scroll_to_top_link.js" %>
</script>

<%= link_to scroll_to_top_path, remote: true, id: :scroll_to_top_link do %>
  <div id="scroll_to_top_link_container">
    <i class="fa fa-arrow-up" id="scroll_to_top_link_icon"></i>
  </div>
<% end %>

<%= audio_tag "effects/bip.mp3", id: "scroll_to_top_sound" %>
