<script>
  <%= render "app/fader.js", target: "card_text", target_id: "" %>
</script>

<div class="vertical_spacer"></div>

<div class="dark_card">
  <div align="center" id="card_text">
    <p>
      Forrest Wilkins - Web Developer
    </p>
  </div>
</div>
