<% case result[:choice] %>
<% when :attack %>
  <div class="game_damage_dealt">
    <%= result[:damage] %> damage dealt.
    <% if result[:target_dead] %>
      You killed <%= result[:target_name] %>. You are victorious!
    <% end %>
  </div>
<% when :build %>
  <div class="game_build_main">
    You've started building a fort.
  </div>
<% when :respawn %>
  <div class="game_build_main" style="color:purple;">
    You've come back from the dead.
  </div>
<% when :skip %>
  <div class="game_build_main" style="color:white;">
    Turn skipped...
  </div>
<% end %>
<%= render "okay" %>
