<div class="dsa_card" align="center">
  <h2 class="surveys_page_header">
    Raleigh DSA Item Libraries <i class="fa fa-cubes"></i>
  </h2>
</div>

<div class="dsa_card" align="center" id="show_item_library_form_link_card">
  <%= link_to show_item_library_form_path, remote: true, class: "survey_interactive_link" do %>
    <p>
      Create new item library <i class="fa fa-pencil"></i>
    </p>
  <% end %>
</div>

<% for item_library in @item_libraries %>
  <%= render "item_libraries/card", item_library: item_library %>
<% end %>

<% if @item_libraries.empty? %>
  <div class="dsa_card" align="center">
    <p>
      You haven't created any item libraries yet.
    </p>
  </div>
<% end %>

<%= render "app/link_sound.js", _class: true, link_id: :survey_interactive_link, sound: :post_interface_sound %>
