<div class="card">
  <%= link_to "Close", close_portal_path(portal.unique_token), method: :delete,
    data: { confirm: "Are you sure you want to close this portal?" }, class: :top_right_link %>
  <div align="center">
    <p>
      Portal <%= portal.unique_token %>
    </p>
    <p>
      <%= portal.remaining_uses %> remaining uses
    </p>
    <p>
      Expires in <%= time_ago_in_words portal.expires_at %>
    </p>
  </div>
</div>
