<h2 class="standard_page_header">Listing all open portals <i class="fa fa-opera"></i></h2>

<div class="card">
  <%= render "portals/form" %>
</div>

<% for portal in @portals %>
  <%= render "portals/card", portal: portal %>
<% end %>

<% if @portals.empty? %>
  <div class="card" align="center">
    <p>
      No portals are currently open.
    </p>
  </div>
<% end %>
