<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="paper_modal">
  <div class="vertical_spacer"></div>

  <pre class="prettyprint lang-cpp">
    SinOsc s => dac;

    // frequency
    0 => int f;
    // direction (add or subtract to frequency)
    1 => int d;

    while(true) {
      100::ms => now;

      if (fib(f) >= 10000) {
        0 => d;
      } else if (fib(f) <= 0) {
        1 => d;
      }

      if (d) {
        1 +=> f;
      } else {
        1 -=> f;
      }

      fib(f) => s.freq;

      <<< fib(f) >>>;
    }

    fun int fib(int n) {
      if (n == 0) {
        return 0;
      }
      else if (n == 1) {
        return 1;
      }
      else {
        return (fib(n-1) + fib(n-2));
      }
    }

  </pre>

  <div class="card" style="background:#fdf6ee;">
    <p align="center">
      <%= link_to "Compile", 'javascript:;', id: :compile_chuck_link, class: :compile_chuck_link %>
    </p>
  </div>
</div>
