<h2 class="standard_page_header">Interactive art by Forrest Wilkins <i class="fa fa-android"></i></h2>

<div class="dark_card" align="center">
  <p>
    The following are interactive art apps built with Processing and Android Studio...
  </p>
</div>

<%= render "arts/app", app: :all %>

<%= link_to "https://play.google.com/store/apps/developer?id=Forrest+Wilkins" do %>
  <div class="dark_card" align="center">
    <p>
      Click here to see a full list on the Play Store...
    </p>
  </div>
<% end %>
