<div class="favorite_color_modal" id="favorite_color_modal">
</div>

<script>
  var modal = $("#favorite_color_modal");
  modal.click(function() {
    modal.toggleClass("art_spin");
    // haptic
    window.navigator.vibrate(1);
  });

</script>
