<div class="vaporwave_modal" id="vaporwave_modal">
  <div class="vapor_txt">
    relax
  </div>
</div>

<script>
  var modal = $("#vaporwave_modal");
  modal.click(function() {
    window.navigator.vibrate(1);
  })
</script>
