<div class="dark_card" align="center">
  <p>
    <%= link_to "https://github.com/ethanwilkins/simplr", class: :dark_link do %>
      Social Maya is free and open source software <i class="fa fa-github"></i>
    <% end %>
  </p>
</div>
