<div class="slide_menu_container">
  <%= link_to 'javascript:;', class: :slide_menu_toggle_link do %>
    <div class="plus_sign" align="center">
      +
    </div>
  <% end %>
  <div id="nav_links" hidden>
    <%= render "app/nav_links" %>
  </div>
</div>

<script>
  var slide_menu = $(".slide_menu_container");
  var toggle_link = $(".slide_menu_toggle_link");
  var plus_sign = $(".plus_sign");
  var nav_links = $("#nav_links");
  // for interaction/bridge to circle_menu
  //var circle_menu = $(".circle_menu_link");
  
  toggle_link.click(function(){
    //toggle_link.toggleClass("slide_menu_toggle_link_span");
    slide_menu.toggleClass("slide_menu_open");
    plus_sign.toggleClass("plus_rotate");
    plus_sign.toggleClass("plus_fade");
    if (nav_links.is(':hidden')) {
      setTimeout(toggle_nav_links, 400);
    } else {
      nav_links.fadeOut();
      // for interaction/bridge to circle_menu
      //if (circle_menu.length) {
        //slide_menu.toggleClass("hiding_circle");
        //setTimeout(toggle_circle_menu, 600);
      //}
    }
    // to prevent issue of nav_links staying open from licking successively
    //if (!slide_menu.hasClass("slide_menu_open") && !nav_links.is(':hidden')) {
      // not working turned off nav_links.toggle();
    //}
    window.navigator.vibrate(1);
  });
  function toggle_nav_links() {
    nav_links.fadeIn();
  }
  // for interaction/bridge to circle_menu
  //function toggle_circle_menu() {
    //$("#slide_menu_hider").toggle();
  //}
</script>
