<div id="standard_nav_menu" class="standard_nav_menu" hidden>
  <%= link_to '<i class="fa fa-times"></i>'.html_safe, toggle_menu_path,
    remote: true, class: "standard_nav_menu_link toggle_menu_link", align: :right, title: "Exit menu" %>

  <%= render "app/nav_links" %>
</div>

<div id="menu_link_container">
  <%= link_to '<i class="fa fa-bars fa-2x"></i>'.html_safe, toggle_menu_path, class: :toggle_menu_link,
    id: :toggle_menu_link, remote: true, title: "Main menu" %>
</div>

<script>
  var toggle_menu_links = $(".toggle_menu_link");
  toggle_menu_links.click(function(){
    var nav_menu = $("#standard_nav_menu");
    if (nav_menu.is(':hidden')) {
      <% unless currently_kristin? %>
        $("#nav_menu_sound")[0].currentTime = 0;
        $("#nav_menu_sound")[0].play();
      <% end %>
      nav_menu.fadeIn();
    } else {
      nav_menu.fadeOut();
    }
    window.navigator.vibrate(1);
  });
</script>
