<!-- proposals -->

<% parents = (defined?(parents) and parents.present?) ? "groups" : "proposals" %>

<div id="feed_container">
	<%= render "#{parents}/feed" %>
	<div align="center">
	  <%= render "pages/#{['load_wheel', 'load_circle', 'buffer_wheel', 'sparkles'].sample}",
			items: @items, all_items: @all_items %>
	</div>
</div>
