<!-- proposals -->

<div id="index_container">
  <script>
    <%= render "proposals/infinite_scroll.js" %>
  </script>
  
  <div class="dark_card">
    <%= render "proposals/new" %>
  </div>
  
  <% if @all_items.empty? %>
    <div class="dark_card">
      <p align="center">There aren't any proposals yet.</p>
    </div>
  <% else %>
    <!-- allows user to switch between different proposal categories -->
    <%= render "proposals/section_links" unless @all_items.empty? %>
  <% end %>

  <div id="feed_container_anchor"></div>
  <%= render "proposals/feed_container" %>
</div>
