<% form_id = @comment.proposal.id %>
<% form_path = create_proposal_comment_path(@proposal.id, ajax_req: true) %>

<div id="new_comment_form_<%= form_id %>" class="new_vote_form">
	<%= form_for @comment, url: form_path, method: :post, remote: true do |f| %>
		<%= f.text_area :body, placeholder: "Leave a comment...", class: :dark_text_area %>
    <button type="submit" name="commit" class="dark_form_button">
      <b>Comment <i class="fa fa-commenting-o"></i></b>
    </button>
	<% end %>
</div>


