<%= render "users/card", user: @user %>

<div class="dark_card" align="center">
  <p>
    Total views: <%= @user.views.size %>
  </p>
  <p>
    Most views from: <%= @most_viewed.locale.to_s + " (#{@view_count.to_s})" %>
  </p>
</div>

<% for view in @views %>
  <%= render "card", view: view %>
<% end %>
