<% if own_item? @post %>
  <div class="danger_card">
    <p align="center">
      <%= link_to "Permanently delete this post", @post, method: :delete,
        title: "Click here to permanently delete this post and any associated comments",
        data: { confirm: "Are you sure you want to permanently delete this post?" }, class: :caution_link %>
    </p>
  </div>
<% end %>
