<!-- posts -->

<% @items.each do |post| %>
  <%= render "posts/card", post: post %>
  <%= render "users/featured" %>
<% end %>

<% unless @items.size < page_size %>
	<div id="more_content_anchor"></div>
<% end %>

<%= render "app/color_settings" %>
