<% parents = (defined?(parents) and parents.present?) ? "groups" : "posts" %>

<div id="feed_container">
	<%= render "#{parents}/feed" %>
	<%= render "pages/load_bar", items: @items, all_items: @all_items %>
</div>
