<div class="post_mini_menu" id="post_mini_menu_<%= post.id %>">
  <% if own_item? post or dev? %>
    <%= link_to 'Edit', edit_post_path(post), class: :post_mini_menu_link %>
    <%= link_to "Delete", destroy_post_path(token: @post.unique_token, ajax_req: true),
      method: :delete, remote: true, class: :post_mini_menu_link,
      data: { confirm: "Are you sure you want to permanently delete this post?" } %>
  <% end %>
  <%= link_to 'Hide', hide_post_path(post), method: :put, class: :post_mini_menu_link,
      data: { confirm: "Are you sure you want to hide this post?" } if dev? and not post.hidden %>
</div>
