<script>
  <%= render "posts/infinite_scroll.js" %>
</script>

<p id="notice"><%= notice %></p>

<%= render "posts/form" %>

<div id="feed_container_anchor"></div>
<%= render "posts/feed_container" %>

<% if @items.empty? %>
  <div class="card">
    <p align="center">
      There aren't any posts yet.
    </p>
  </div>
<% end %>
