<p id="notice"><%= notice %></p>

<div class="card">
  <%= render "posts/form" %>
</div>

<% @posts.each do |post| %>
  <%= render "posts/card", post: post %>
<% end %>

<% if @posts.empty? %>
  <div class="card">
    <p align="center">
      There aren't any posts yet.
    </p>
  </div>
<% end %>
