<script>
  <%= render "app/fader.js", target: "invite_only_header", target_id: "" %>
</script>

<h2 id="invite_only_header">
  Social Maya
</h2>

<div class="dark_card">
  <%= render "posts/form" %>
</div>

<%= render "posts/main_feed_container" %>
