<br/>
<div class="surveys_card">
  <h2 class="surveys_page_header">
    Raleigh DSA Social <i class="fa fa-users"></i>
  </h2>
</div>

<div class="surveys_card" align="center">
  <p>
    This feature has not been implemented yet.
  </p>
  <% if invited? %>
    <%= link_to surveys_path do %>
      <p>
        See all surveys <i class="fa fa-home"></i>
      </p>
    <% end %>
  <% end %>
</div>
