//2017 Greenery. Hex #88B04B. RGB(136, 176, 75) ...
//2016 Rose Quartz. Hex #F7CAC9. RGB(247, 202, 201) ...
//2016 Serenity. Hex #92A8D1. RGB(146, 168, 209) ...
//2015 Marsala. Hex #955251. RGB(149, 82, 81) ...
//2014 Radiand Orchid. Hex #B565A7. RGB(181, 101, 167) ...
//2013 Emerald. Hex #009B77. ...
//2012 Tangerine Tango. Hex #DD4124. ...
//2011 Honeysucle. Hex #D65076.

.mood_board {
  width: 90%;
}

.mood_board_img_sm_left {
  width: 95%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.border_flash_modal {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  z-index: 20;
  border: 5px solid red;
}

.blur_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.kristin_snek_card {
  position: relative;
  background: #ff69b4;
  max-width: 550px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  margin-top: 15px;
  width: 94.5%;
}

.art_border_side_inner {
  transition: all 1s ease-in-out;
  position: absolute;
  width: 100%;
  height: 0%;
  background: #F3F315;
  bottom: 0px;
}

.art_border_vert_inner {
  transition: all 1s ease-in-out;
  position: relative;
  width: 0%;
  height: 100%;
  background: #F3F315;
}

.vert_inner_top {
  width: 100%;
  background: #ff69b4;
}

.side_inner_expand {
  height: 100%;
}

.vert_inner_expand {
  width: 100%;
}

.vert_inner_shrink {
  width: 0%;
}

.art_middle {
  position: relative;
  width: 80%;
  height: 80%;
  float: left;
}

.art_border_vert {
  position: relative;
  width: 100%;
  height: 10%;
  background: #ff69b4;
  float: left;
}

.art_vert_top {
  background: #F3F315;
}

.art_border_left {
  position: relative;
  width: 5%;
  height: 80%;
  background: #ff69b4;
  float: right;
}

.art_border_right {
  position: relative;
  width: 5%;
  height: 80%;
  background: #ff69b4;
  float: left;
}

@mixin modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  // to stop margins from collapsing
  overflow: auto;
}

.standard_modal {
  @include modal;
  background: black;
}

.void_modal {
  @include modal;
  background: #003434;
}

.click_vis_screen {
  position: absolute;
  top: 0px;
  left: 0px;
  background: lightblue;
  opacity: 0.15;
}

.click_dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
}

.click_visualization_modal {
  @include modal;
  background: black;
}

@keyframes vaporwave_fader {
  from {
    background: pink;
  }
  to {
    background: lightblue;
  }
}

@keyframes vaporwave_fader_txt_fader {
  from {
    text-shadow: -1.5px -1.5px 1.5px lightblue;
  }
  to {
    text-shadow: 1.5px 1.5px 1.5px #72fe95;
  }
}

.vapor_txt {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 225px;
  font-family: monospace;
  letter-spacing: 30px;
  font-weight: 400;
  animation: vaporwave_fader_txt_fader 5s infinite alternate;
}

.vaporwave_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: pink;
  z-index: 10;
  // to stop margins from collapsing
  overflow: auto;
  animation: vaporwave_fader 5s infinite alternate;
}

.show_app_label {
  color: rgb(170,170,170);
  margin-left: 20px;
  font-weight: bold;
}

.post_blurred {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
//  pointer-events: none;
  cursor: default;
}

.art_spin {
  transform: rotateY(180deg);
}

.paper_spin {
  transform: rotateX(180deg);
  animation: quick_color_morph 1s normal both,
}

.line_1 {
    position: relative;
    top: 50%;
    width: 241;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim_typewriter {
  animation: typewriter 4s steps(30) 1s 1 normal both,
             blink_text_cursor 500ms steps(44) infinite normal;
}

@keyframes quick_color_morph {
  from {
    background: #d7fada;
  }
  to {
    background: #faebd7;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 8em;
  }
}

@keyframes blink_text_cursor {
  from {
    border-right-color: #dad7fa;
  }
  to {
    border-right-color: transparent;
  }
}

.paper_txt {
  font-family: "Courier New", Courier,
    "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  //font-weight: bold;
  font-size: 20px;
  color: #cd5c5c;
  width: 50%;
  margin-top: 5%;
}

.art_card {
  transition: all 1s ease-in-out;
  position: relative;
  background: #CEFFFD;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  margin-top: 15px;
  width: 94.5%;
  // to stop margins from collapsing
  overflow: auto;
}

.art_spacer {
  height: 0px;
  background: black;
}

.surreal_card {
  // green glow on black text to top right direction
  background: #004d4d;
}

.surreal_txt {
  /* 16 * 0.0625 = 1px */
  letter-spacing: 12.5px;
  text-shadow: 1.25px 1.25px 1.25px rgb(0, 255, 0);
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

.outrun_txt {
  margin-top: 35px;
  margin-left: 15px;
  text-shadow: 1.25px 1.25px 1.25px rgb(0, 255, 0);
  font-size: 25px;
}

.paper_card {
  height: 80%;
  background: #faebd7;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #faebd7,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #faebd7,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
}

.paper_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fdf6ee;
  z-index: 30;
  // to stop margins from collapsing
  overflow: auto;
}

.favorite_color_modal {
  transition: all 1s ease-in-out;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #72fe95;
  z-index: 30;
}

@keyframes love_txt_glow {
  from {
    text-shadow: 1.5px 1.5px 1.5px pink;
  }
  to {
    text-shadow: -1.5px -1.5px 1.5px pink;
  }
}

.love_txt {
  width: 80%;
  animation: love_txt_glow 7.5s infinite alternate;
}

.love_message_carousel_img {
  width: 100%;
}

.love_message_carousel_card {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 54.5%;
}

@keyframes love_card_glow {
  0% {
    box-shadow: -7.5px -7.5px 7.5px red;
  }
  100% {
    box-shadow: 7.5px 7.5px 7.5px red;
  }
}

.love_art_card {
  margin-top: 12.5px;
  width: 50%;
  background: red;
  // to stop margins from collapsing
  overflow: auto;
}

.love_message_card {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 54.5%;
  background: white;
  color: red;
  font-weight: bold;
}

.love_message_card_glow {
  animation: love_card_glow 7.5s infinite alternate;
}

.love_message_button {

}

.love_message_field {
  display: block;
  margin-top: 15px;
}

.love_message_form_card {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 54.5%;
  background: white;
  animation: love_card_glow 7.5s infinite alternate;
}

.heart_container {
  transition: all 1s ease-in-out;
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  margin-top: 155px;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 54.5%;
  background: white;
}

.heart {
  background-color: red;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 50px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}

.love_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #FF5353;
  z-index: 30;
  // to stop margins from collapsing
  overflow: auto;
}

.color_band_blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.color_band {
  position: fixed;
  width: 100%;
  height: 10%;
  background: black;
}

.color_bands {
  transition: all 1s ease-out;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -10
}

.color_band_flipping {
  animation: band_flip_morph 5s ease-in-out infinite alternate;
}

.color_band_flip {
  transform: rotatex(180deg);
}

@keyframes band_flip_morph {
  0% {
    transform: rotatex(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotatex(180deg);
    opacity: 1;
  }
  100% {
    transform: rotatex(-360deg);
    opacity: 0;
  }
}

@keyframes spin_morph {
  0% {
    transform: rotatey(0deg);
  }
  50% {
    transform: rotatey(180deg);
    background: pink;
  }
  100% {
    transform: rotatey(-360deg);
    background: #72FE95;
  }
}

.color_block_spinner {
  animation: spin_morph 7.5s infinite alternate;
  background: pink;
  width: 25%;
  height: 25%;
  margin: 5px;
}

.color_block_fan_right {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #72FE95;
  transition: all .4s ease-in-out;
  // to stop margins from collapsing
  overflow: auto;
}

.color_block_fan_right_out {
  transform-origin: 100% 100%;
  transform: rotatey(180deg);
  z-index: 5;
}

.color_block {
  position: relative;
  background: #ade6d8;
  width: 50%;
  height: 150px;
  float: left;
}

.interact_label {
  position: relative;
  width: 50%;
  height: 50px;
  padding-top: 60px;
  float: left;
  color: #ade6d8;
  font-size: 20px;
  font-weight: bold;
}

.color_block_container {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  margin-top: 15px;
  width: 94.5%;
}

.palette_color {
  float: left;
  height: 100%;
  transition: all .4s ease-in-out;
}

.palette_color:hover, .palette_color:active {
  transform: rotatey(360deg);
}

.color_band:hover {
  transform: rotatex(360deg);
}

.color_palette {
  width: 85%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 35px;
}
