// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message_image {
  width: 97.5%;
  padding-top: 12.5px;
}

.message_body_text {
  padding: 5px 0px;
  width: 82.5%;
}
