// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message_content {
}

.message_bubble {
  position: relative;
  padding: 15px 7.5px;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 94.5%;
  color: white;
}

.message_image {
  width: 97.5%;
  padding-top: 12.5px;
}

.message_body_text {
  position: relative;
  top: 3.5px;
  left: 7.5px;
  width: 82.5%;
}
