// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message_form_card {
  height: 115px;
}

.message_form_container {
  width: 100%;
}

.message_form_left_sub_container {
  float: left;
  width: 85%;
}

.message_form_right_sub_container {
  float: left;
  width: 15%;
}

.message_img_link_container {
}

.message_text_area {
  width: 100%;
  height: 100px;
}

.message_button_container {
  padding-bottom: 5px;
}

.last_message_views {
  position: relative;
  margin: 0 auto;
  max-width: 550px;
  padding-bottom: 5px;
  width: 94.5%;
  color: rgb(175, 175, 175);
  font-size: 12px;
}

.message_bubble {
  position: relative;
  padding: 10px 7.5px;
  max-width: 550px;
  margin: 0 auto;
  width: 94.5%;
  color: white;
}

.message_image {
  width: 97.5%;
  padding-top: 12.5px;
}

.left_message_body_text {
  float: left;
  padding-top: 2.5px;
  padding-left: 2.5px;
  width: 82.5%;
}

.right_message_body_text {
  float: right;
  padding-top: 2.5px;
  padding-right: 10px;
  width: 82.5%;
}
