// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notes_nav_link {
	position: absolute;
	right: 45px;
	top: 14.5px;
}

.note_img_preview {
  display: block;
  margin-top: 22.5px;
  width: 25%;
}

.note_dialog {
  position: fixed;
  bottom: 100px;
  right: 7.5px;
  width: 200px;
  background: rgb(10, 10, 10);
  color: rgb(175,175,175);
  //border-radius: 3px;
  z-index: 5;
}

.note_dialog_text {
  font-size: 12px;
}
