// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.right_pane {
  position: absolute;
  right: -262.5px;
  top: 0px;
  width: 250px;
  min-height: 200px;
  background: rgb(10, 10, 10);
  padding-top: 20px;
}

.left_pane {
  position: fixed;
  left: 10%;
  top: 45px;
  width: 15%;
  height: 300px;
  background: rgb(10, 10, 10);
}

.side_pane_label {
  color: rgb(175, 175, 175);
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: bold;
}

.right_pane_label {
  margin-left: 5px;
}

.side_pane_label_successive {
  padding-top: 10px;
}

.side_pane_item {
  text-align: left;
  padding-left: 10px;
  margin-top: -7.5px;
  width: 100%;
}

.buffer_pixel {
	width: 25%;
	height: 25%;
	float: right;
  font-size: 10px;
  text-align: center;
}

.mini_buffer_pixel {
	width: 50%;
	height: 50%;
	float: right;
}

.buffer_wheel_grid_containor {
	width: 50px;
	height: 50px;
}

.load_wheel {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 5;
}

.load_bar_containor {
  margin-height: 15px;
  width: 150px;
  height: 25px;
}

.load_bar_section {
  width: 6%;
  height: 100%;
  float: left;
  font-size: 10px;
  text-align: center;
}

.load_band_containor {
  width: 200px;
  height: 500px;
}

.load_band_section {
  width: 4%;
  height: 100%;
  float: left;
  background: red;
}

.load_fib_bar {
  width: 100%;
}

#vertical_load_screen {
  position: relative;
}

#loading_label {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  text-align: center;
  padding-top: 17.25px;
  color: white;
}

#still_loading_label {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 15px
}

#standard_nav_menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-bottom: 15px;
  z-index: 5;
}

.standard_nav_menu_link {
	color: white;
	font-size: 20px;
	display: block;
	padding: 5px 5px;
	background: black;
}

#menu_link_container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 47.5px;
  height: 40.5px;
  background: black;
  z-index: 1;
}

#toggle_menu_link {
	position: fixed;
	top: 7.5px;
	left: 12.5px;
	color: white;
	font-size: 13px;
	z-index: 2;
}

.return_home_link {
  position: absolute;
  top: 12.5px;
  left: 75px;
  color: white;
}

#scroll_to_top_link_icon {
  position: absolute;
  top: 12.5px;
  left: 17.5px;
}

#scroll_to_top_link_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 47.5px;
  height: 40.5px;
  background: black;
  z-index: 1;
}

#scroll_to_top_link {
  color: white;
  font-size: 20px;
  display: none;
}

#vertical_load_screen {
  position: relative;
}

// for mobile
@media screen and (max-width: 975px) {
  .right_pane {
    visibility: hidden;
    width: 0px;
    left: 0px;
  }
}




