// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_post_form_pulse {
  background: rgb(119,158,203);
  box-shadow: -7.5px -7.5px 7.5px rgb(136,227,182);
}

.feed_loader_loading_label {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  color: rgb(175, 175, 175);
  position: relative;
  max-width: 567.25px;
  margin: 20px auto;
  width: 97.5%;
}

.floated_image {
  float: left;
  width: 20%;
}

.anon_post_check_box {
  transform: scale(.75);
}

.anon_post_check_box_span {
  font-size: 10px;
}

.standard_post_link {
	font-size: 11px;
}

.post_mini_menu {
  position: absolute;
  top: 22.5px;
  right: 7.5px;
  width: 65px;
  height: 52.5px;
	z-index: 3;
}

.post_mini_menu_link {
  background: black;
	color: white;
	font-size: 13px;
	display: block;
	padding: 5px 5px;
}

.post_file_field {
  display: inline;
}

.post_time_ago_link {
	font-size: 11px;
	position: absolute;
	right: 20px;
	top: 5px;
}

#new_post_form_button {
  height: 35px;
  width: 200px;
  background: white;
}

#add_group_id_icon_link {
  position: absolute;
  bottom: 5px;
  right: 138px;
}

#add_audio_icon_link {
  position: absolute;
  bottom: 5px;
  right: 96.5px;
}

#add_image_icon_link {
  position: absolute;
  bottom: 5px;
  right: 55px;
}

#add_video_icon_link {
  position: absolute;
  bottom: 5px;
  right: 13.5px;
}

.standard_post_image {
  padding-top: 12.5px;
  width: 97.5%;
}

.standard_post_video {
  padding-top: 12.5px;
  width: 97.5%;
}

.posted_label {
  position: absolute;
  top: 5px;
  left: 40px;
  font-size: 11px;
}

.posted_link {
  font-size: 11px;
}
