// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.standard_post_link {
	font-size: 11px;
}

.post_mini_menu {
  position: absolute;
  top: 22.5px;
  right: 7.5px;
  width: 65px;
  height: 52.5px;
  background: black;
}

.post_mini_menu_link {
	color: white;
	font-size: 13px;
	display: block;
	padding: 5px 5px;
}

.post_time_ago_link {
	font-size: 11px;
	position: absolute;
	right: 20px;
	top: 5px;
}

#new_post_form_button {
  height: 35px;
  width: 200px;
  background: white;
}

#add_image_icon_link {
  position: absolute;
  bottom: 5px;
  right: 13.5px;
}

.standard_post_image {
  padding-top: 12.5px;
  width: 97.5%;
}

.posted_to_group_label {
  position: absolute;
  top: 5px;
  left: 40px;
  font-size: 11px;
}

.posted_to_group_link {
  font-size: 11px;
}
