// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_post_form_button {
  height: 35px;
  width: 200px;
  background: white;
}

#add_image_icon_link {
  position: absolute;
  bottom: 5px;
  right: 13.5px;
}

.standard_body {
  padding: 12.5px 0px;
}

.standard_image {
  padding-top: 25px;
  width: 97.5%;
}
