// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trending_tags_title {
  padding-top: 10px;
}

.search_nav_link {
  position: absolute;
	left: 50px;
	top: 12.5px;
	color: white;
}

#search_dropdown {
  position: relative;
  top: 2.5px;
  margin: 0 auto;
  width: 60%;
  max-width: 550px;
  padding: 5px 7.5px;
  background: white;
  z-index: 5;
}
