// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin section_part {
  width: 100%;
  min-height: 500px;
  background: rgb(214, 216, 219);
  color: DarkBlue;
  text-align: center;
  position: relative;
  overflow: auto;
}

.section_part {
  @include section_part;
}


.edit_carousel_img_link {
  position: absolute;
  right: 20%;
  top: 50px;
}

.carousel_image {
  width: 100%;
}

.carousel_outer {
  margin-top: 7.5px;
}

.lil_c_form {
  position: relative;
  padding: 15px 7.5px;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 94.5%;
}

.lil_c_img {
  position: relative;
  max-width: 565px;
  margin: 0 auto;
  margin-bottom: 12.5px;
  width: 98.65%;
}

#lil_c_header_card {
  animation: lil_c_header_card_glow 7.5s infinite alternate;
}

#lil_c_header {
  animation: lil_c_header_shadow 7.5s infinite alternate;
}

@keyframes lil_c_header_card_glow {
  0% {
    background: black;
    box-shadow: -7.5px -7.5px 7.5px purple;
  }
  100% {
    background: purple;
    box-shadow: 7.5px 7.5px 7.5px black;
  }
}

@keyframes lil_c_header_shadow {
  0% {
    color: white;
    text-shadow: 1px 1px 1px purple;
  }
  100% {
    color: black;
    text-shadow: 1.25px 1.25px 1.25px purple;
  }
}
