// Place all the styles related to the treasures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.kopimi_field {
  max-width: 275px;
  min-width: 225px;
  background: rgb(25, 25, 25);
  color: white;
  border-width: 1px;
}

.hype_nugget {
  font-size: 25px;
}

.random_pixel {
  position: absolute;
  width: 2.5px;
  height: 2.5px;
  z-index: 5;
}

.div_game_div {
  width: 50px;
  height: 50px;
  background: white;
}

.div_game_center_object {
  width: 50px;
  height: 50px;
  background: white;
}

.treasure_challenge_form {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  width: 90%;
  padding: 5px 0px;
  margin-top: 15px;
  border-radius: 2px;
  background: rgb(10, 10, 10);
  color: white;
}

.treasure_form_link {
  font-size: 12px;
}

.xp_reward_container {
  position: fixed;
  top: 55px;
  right: 10px;
  width: 100px;
  height: 100px;
  background: rgb(0, 255, 0);
  color: rgb(0, 0, 255);
  border-radius: 3px;
  z-index: 5;
}

.xp_reward {
  position: absolute;
  top: 17.5%;
  left: 15%;
  font-size: 4em;
  font-weight: bolder;
}

.xp_reward_acronym {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 10px;
}

.loot_icon_substitute {
  margin-top: 50px;
  margin-bottom: 25px;
  color: white;
}

.treasure_body {
  color: white;
}

.loot_container {
  padding-top: 25px;
}

.loot_image {
  width: 90%;
  max-width: 350px;
}
