// Place all the styles related to the treasures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loot_container {
  padding-top: 25px;
}

.loot_image {
  width: 90%;
  max-width: 350px;
}
