// Place all the styles related to the wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book_nav_link {
  position: absolute;
  top: 12.5px;
  left: 50px;
  color: white;
}

.book_text_area {
  width: 200px;
  height: 450px;
}
