<div class="dark_card" id="crescent_card" align="center">
  <%= link_to "☾ Kristin's Crescent Moon", "/#", class: :top_right_link, id: :kristins_crescent_label %>
  <div id="crescent_moon">
  </div>
</div>
