<div class="div_game_div" id="div_game_div_1"></div>

<%= link_to loot_treasure_path(treasure.unique_token), method: :post, remote: true, title: "#{treasure.name}" do %>
  <div class="div_game_center_object"></div>
<% end %>
