<div class="xp_reward_container" id="xp_reward_container_<%= @treasure.id %>" hidden>
  <span class="xp_reward_acronym">XP</span>
  <div class="xp_reward">
    <%= @treasure.xp.to_i %>
  </div>
</div>
