<div class="vertical_spacer"></div>
<div class="vertical_spacer"></div>

<%= render "crescent" %>

<div class="vertical_spacer"></div>

<div class="dark_card" align="center">
  <p>
    To Kristin, my Moon, I love you always. 
  </p>
</div>
