<%= stylesheet_link_tag 'semantic_ui_style' %>

</br>
</br>
</br>
</br>
</br>

<div class="ui container vertical center aligned" align="center" id="leo">
  <%= image_tag "leo/leo.png", class: :leo_img, style: "width:75%;" %>
</div>

<script>
  $("body").click(function() {
    $('.leo_img')
      .transition('horizontal flip')
    ;

    window.navigator.vibrate(1);
  });


  <%= render "app/fader.js", target: 'leo', target_id: '', background: true, slow: true %>
</script>

<style>
  html, body {
    background: black;
  }

</style>

  <script>
  </script>
