<h2 class="standard_page_header">Le Philosophizing <i class="fa fa-lightbulb-o"></i></h2>

<div class="dark_card" align="center">
  <p>
    <b>Figures of Interest</b>
  </p>
  <p>
    Lacan, Derrida, Foucault, Heidegger, Jung
  </p>
</div>

<div class="dark_card" align="center">
  <p>
    <b>Fields of Interests</b>
  </p>
  <p>
    Psychoanalysis, Hermeneutics, Phenomenology, Post-structuralism
  </p>
</div>
