<h2 class="standard_page_header">Le Philosophizing <i class="fa fa-lightbulb-o"></i></h2>

<div class="dark_card" align="center">
  <p>
    <b id="figures">Lacan, Derrida, Foucault, Heidegger, Jung</b>
  </p>
</div>

<div class="dark_card" align="center">
  <p>
    <b id="phenomenology">Phenomenology</b> - The philosophical study of the structures of experience and consciousness.
  </p>
  <p class="justified_body_text">
    A unique and final definition of phenomenology is dangerous and perhaps even paradoxical as it lacks a thematic focus. In fact, it is not a doctrine, nor a philosophical school, but rather a style of thought, a method, an open and ever-renewed experience having different results, and this may disorient anyone wishing to define the meaning of phenomenology.
  </p>
  <p>
    That knowledge could be centred on the human knower.
  </p>
</div>

<div class="dark_card" align="center">
  <p class="justified_body_text">
    <b id="post_structuralism">Post-structuralism</b> - That founding knowledge either on pure experience (phenomenology) or systematic structures (Structuralism) is impossible. This impossibility is not meant as a failure or loss, but rather as a cause for "celebration and liberation."
  </p>
  <p class="justified_body_text">
    A major theory associated with Structuralism was binary opposition. This theory proposed that there are certain theoretical and conceptual opposites, often arranged in a hierarchy. Post-structuralism rejects the notion of the essential quality of the dominant relation in the hierarchy, choosing rather to expose these relations and the dependency of the dominant term on its apparently subservient counterpart.
  </p>
</div>

<div class="dark_card" align="center">
  <p>
    <b id="psychoanalysis">Psychoanalysis</b> - A set of theories and therapeutic techniques related to the study of the unconscious mind, which together form a method of treatment for mental-health disorders.
  </p>
</div>

<div class="dark_card" align="center">
  <p>
    <b id="hermeneutics">Hermeneutics</b> - The theory and methodology of interpretation, especially the interpretation of biblical texts, wisdom literature, and philosophical texts.
  </p>
</div>

<script>
  <% for i in [:figures, :phenomenology, :post_structuralism, :psychoanalysis, :hermeneutics] %>
    <%= render "app/fader.js", target: i.to_s, target_id: "" %>
  <% end %>
</script>
