<div class="dark_card">
  <p class="justified_body_text" align="center">
    In the future, society will be organized primarily through online social networks. Let this website be a parody of that imagined future.
  </p>
</div>

<% for power in @powers %>
  <script>
    <%= render "app/fader.js", target: "power", target_id: power.id.to_s %>
  </script>
  <div class="dark_card">
    <p align="center" id="power_<%= power.id %>">
      <%= power.power.gsub("_", " ").capitalize %>
    </p>
  </div>
<% end %>
