<div class="dark_card" align="center" style="background:black;">
  <p>
    <%= render "pages/buffer_wheel", items: [], all_items: [] %>
  </p>
  <p>
    <%= render "pages/load_wheel" %>
  </p>
  <p>
    <%= render "pages/load_bar", items: [], all_items: [] %>
  </p>
  <p>
    <%= render "pages/load_band", items: [], all_items: [] %>
  </p>
</div>
