<div class="dark_card" align="center">
  <%= render "pages/load_band" %>
  <p>
    <%= render "pages/load_wheel" %>
  </p>
  <p>
    <%= render "pages/load_bar", items: [], all_items: [] %>
  </p>
</div>
