<h2 class="standard_page_header">Zodiac <i class="fa fa-users"></i></h2>

<div class="dark_card" align="center">
  <p>
    Pisces - Selfless, they are always willing to help others, without hoping to get anything back. Pisces is a Water sign and as such this zodiac sign is characterized by empathy and expressed emotional capacity. Their ruling planet is Neptune, so Pisces are more intuitive than others and have an artistic talent.
  </p>
</div>

<div class="dark_card" align="center">
  <p>
    Leo - Warm, action-oriented and driven by the desire to be loved and admired, the Leo have an air royalty about them. They love to be in the limelight, which is why many of them make a career in the performing arts.
  </p>
</div>
