<!-- votes -->

<div id="new_up_vote_form_<%= @proposal.id %>" class="new_vote_form">
	<%= form_tag cast_up_vote_path, method: :post, remote: true do |f| %>
	  <%= hidden_field_tag :token, @proposal.unique_token %>
		<%= text_area_tag :body, nil, placeholder: "Why do you support this proposal? (optional)", class: :dark_text_area %>
    <button type="submit" name="commit" class="dark_form_button">
      <b>Support <i class="fa fa-thumbs-o-up"></i></b>
    </button>
	<% end %>
</div>


