<div class="card">
  <div align="center">
    <p><%= @bot.name %></p>
    <p><%= @bot.body %></p>
    <% @bot.bot_tasks.each do |task| %>
      <p>
        <%= task.name.capitalize %>
      </p>
    <% end %>
  </div>
</div>
